.app.dark {
    --bg-color: #090949;
    --iverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --iverted-primary-color: #0452ff;
    --iverted-secondary-color: #041c65;
}
