.app.light {
  --bg-color: #e8e8ea;
  --iverted-bg-color: #090949;

  --primary-color: #041c65;
  --secondary-color: #0449e0;

  --iverted-primary-color: #049604;
  --iverted-secondary-color: #04ff04;
}