// TODO: Позже необходимо поправить на app.light, пока переменные не работают со Storybook
:root {
    --bg-color: #e8e8ea;
    --iverted-bg-color: #090949;
    --primary-color: #0449e0;
    --secondary-color: #041c65;
    --iverted-primary-color: #04ff04;
    --iverted-secondary-color: #049604;
}
